* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

/* header style */

header {
  background-color: darkgreen;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

h1 {
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
  color: rgb(58, 3, 95);
}

/* section style */

section {
  background-color: rgb(211, 208, 23);
  height: 1000px;
  animation-name: bg-change;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
}

h2 {
  font-size: 30px;
  color: red;
  padding-left: 30px;
  padding-top: 100px;
}

.box {
  display: inline-block;
  width: 500px;
  min-height: 500px;
  background-color: aqua;
  padding: 10px;
  margin-left: 30px;
  margin-top: 40px;
  position: relative;
  border-radius: 10px;
  /* background-image: url(images/Ford-Mustang1.jpg); */
  background-size: cover;
}

.box p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
}

.box:nth-child(1) {
  background-image: url(images/Ford-Mustang1.jpg);
}

.box:nth-child(2) {
  background-image: url(images/mustang3.jpg);
}

.box:nth-child(3) {
  background-image: url(images/mustang5.jpg);
}

header:has(.container)::after {
  content: "🚗";
  font-size: 60px;
  position: absolute;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
  animation-name: logo-move;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
}

.box:hover p {
  font-size: 25px;
  color: red;
}

.img1:hover {
  background-image: url(images/mustang2.jpg);
}

.img2:hover {
  background-image: url(images/mustang4.jpg);
}

.img3:hover {
  background-image: url(images/mustang6.jpg);
}

.box {
  transition-property: background-image;
  transition-duration: 2s;
}

@keyframes bg-change {
  from {
    background-color: rgb(211, 208, 23);
  }
  to {
    background-color: blueviolet;
  }
}

@keyframes logo-move {
  0% {
    left: 90%;
  }
  100% {
    left: 10%;
  }
}

@keyframes img1-move {
  from {
    right: 0;
  }
  to {
    right: 50px;
  }
}

@keyframes img3-move {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}

.img1 {
  /* right: 10px; */
  animation-name: img1-move;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.img3 {
  animation-name: img3-move;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
